<!-- This template is for user login -->
{% extends "base.html" %} {% block content %}
<h1>Log in</h1>
<h2><a href="/signup" class="create">Create New Account</a></h2>
<form action="/login" method="POST">
    <table>
        <tr>
            <td><label for="username">Name</label></td>
            <td>
                <input name="username" type="text" value="{{username}}">
            </td>
            <td>
                <p class="error">{{username_error}}</p>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password" , value="{{password}}">
            </td>
            <td>
                <p class="error">{{password_error}}</p>
            </td>
        </tr>
    </table>
    <input class="button" class="login" type="submit" value="Login">
</form>
{% endblock %}