{% extends "base.html" %} {% block content %}
<h1>Build a Blog</h1>
{% if entries|length == 0 %}
<p>No entries yet.</p>
{% else %}

<ul style="list-style-type:none">
    <!-- lists all entries in descending order -->
    {% for entry in entries[::-1] %}
    <li>
        <a href="./blog?id={{entry.id}}, owner_id={{entry.owner_id}}">
            <h2>{{entry.title}}</h2>
        </a>
    </li>
    <li>{{entry.body}}</li>
    <li>{{entry.owner_id}} username should be here</li>
    <!-- TODO - cross reference this to username - SQL subquery for foreign key -->
    </hr>
    {% endfor %}
</ul>
<a class="bottom" href="#top">top of page</a> {% endif %} {% endblock %}